<main>
    <content>
              <h1>Contact</h1>
              <form class="color-primary-4">
                  <br>
                  <div class="info-box">
                      <h2>Authors</h2>
                      <h3>Nicola Deufemia <a href="mailto:ndeufemia.mmt-b2014@fh-salzburg.ac.at"><span class="glyphicon glyphicon-envelope"></span></a></h3>
                      <h3>Michael Andorfer <a href="mailto:mandorfer.mmt-b2014@fh-salzburg.ac.at"><span class="glyphicon glyphicon-envelope"></span></a></h3>
                  </div>
              </form>
              <br>
    </content>
</main>
{{outlet}}
