<main>
    <content>
        <h1>About</h1>
              <form class="color-primary-4">
                  <h2 class="form-signin-heading">Project Social Journey</h2>
                 <br>
                  <div class="info-box">
                      <p>Social Journey lets you experience once again all your travels and not your yours, also these of your frineds!</p>
                      <p>This project is currently under construction.</p>
                      <br>
                      <h2 class="form-signin-heading">Authors</h2>
                      <h3>Nicola Deufemia <a href="mailto:ndeufemia.mmt-b2014@fh-salzburg.ac.at"><span class="glyphicon glyphicon-envelope"></span></a></h3>
                      <h3>Michael Andorfer <a href="mailto:mandorfer.mmt-b2014@fh-salzburg.ac.at"><span class="glyphicon glyphicon-envelope"></span></a></h3>
                  </div>
              </form>
              <br>
    </content>
</main>
{{outlet}}
