<main>
    <content>
        <h1>About</h1>
        <form class="color-primary-4">
            <h2 class="form-signin-heading">Sportspedia</h2>
            <br>
            <div class="info-box">
                <p>Sportspedia displays sports facilities and information about them in a meaningful way.</p>
            </div>
        </form>
        <br>
    </content>
</main>
{{outlet}}
