{{#cesium-widget}}
{{/cesium-widget}}
<main>
    <content>
        <h1>Welcome to Sportspedia</h1>
            <form class="color-primary-2">
                <h2>Let's go!</h2>
                <small>Start your Sportspedia Experience now!</small>
                <br><br>
                <div class="row">
                    <a id="start-button" class="btn btn-primary social-login-btn social-facebook"><h1><b>Start!</b></h1></a>
                </div>
            </form>
            <br>
        <br>
        <br class="clear" />
    </content>
</main>
{{outlet}}
